@media (max-width: 1280px){
    .cabecalho .titulo{
        font-size: 100px;
    }

    .selecao-de-agentes .lista-de-pagentes .agente{
        width: 85px;
        height: 85px;
    }

    .selecao-de-agentes .lista-de-pagentes .agente img{
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 767px){
    .cabecalho .titulo{
        font-size: 70px;
    }

    .selecao-de-agentes .agente-grande{
        display: none;
    }
}

@media(max-width: 450px){
    .cabecalho .titulo{
        font-size: 50px;
    }
}